<html>
    <meta name="referrer" content="none">
    <head>
        <link rel="manifest" href="manifest.json">
        <link rel="stylesheet" href="scrollchan.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
            {% for webm in webms %}
                <div class="video-size">

                    {% if webm.thread_title %}
                        <div class="text-overlay-container">
                            <span class="text-overlay">{{webm.thread_title}}</span>
                        </div>
                    {% endif %}

                    <video class="vid" controls loop src="{{webm.webm_url}}" type="video/webm"></video>

                    <div class="view-thread-box">
                        <span class="thread-arrow-span material-icons">
                          keyboard_arrow_right
                        </span>
                  </div>
                </div>
            {% endfor %}

        <script src="scrollchan.js"></script>
    </body>
</html>
